@import "_variables.scss";
/* Encabezado*/
.titserv {
    background-color: blue;
    color: red;
    display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 100%;
   margin-left: 15%;
 }
 
.servimg {
    margin: 10px auto;
    display: grid;
    width: 60%;
    height: 100%;
   grid-template-columns: $auto $auto;
   grid-template-rows: $auto 15%;
}
/*Botones Servicios*/
.botones:hover { 
    display: flex;
    align-items: center;
    height: 70%;
    width: 80%;
    justify-content: center;
    gap: 20px;
    
}
.botones::before{
    height: 100%;
    background-color: white;
}
.boton1 {
    background-color: green;
    font-size: 1rem;
    border-right: 30%;
    border-radius: 30%;
    font-weight: green;

}
.boton2 {
    background-color: red;
    font-size: 1rem;
    border-right: 30%;
    border-radius: 30%;
    font-weight: red;

}
.boton3 {
    background-color: pink;
    font-size: 1rem;
    border-right: 30%;
    border-radius: 30%;

}