/* Galeria*/
.contenedorPadre {
    margin: 10px $auto;
    display: grid;
    width: 60%;
    height: 100%;
   grid-template-columns: $auto $auto $auto;
   grid-template-rows: $auto $auto 100px;
   gap: 10px;
   
}
.contenedorImagenes {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 20px;
    
  }
  .contenedorImagenes img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
  }
  .contenedorImagenes:hover{
    background-color: blue;
    transition: 2s;
  }